* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
    background-color: #050505; color: white; 
    font-family: 'Segoe UI', sans-serif; overflow: hidden; /* TV não tem scroll de mouse */
}

.tv-container { display: flex; flex-direction: column; height: 100vh; }

.player-area { height: 50%; background: #000; display: flex; flex-direction: column; align-items: center; justify-content: center; }
#main-player { width: 70%; height: 80%; border: 2px solid #222; border-radius: 10px; }

#video-title { margin-top: 10px; font-size: 2em; color: #e50914; }

.catalog-area { 
    height: 50%; padding: 20px 50px; 
    display: flex; gap: 30px; overflow-x: hidden; align-items: center;
}

/* CARDS PARA TV */
.focusable {
    min-width: 220px; transition: 0.3s; 
    border: 4px solid transparent; border-radius: 15px;
    background: #1a1a1a; text-align: center;
}

/* EFEITO QUANDO O CONTROLE ESTÁ EM CIMA */
.focusable.active {
    transform: scale(1.15);
    border-color: #e50914;
    box-shadow: 0 0 30px rgba(229, 9, 20, 0.6);
    z-index: 10;
}

.focusable img { width: 100%; height: 300px; object-fit: cover; border-radius: 10px; }
.focusable p { padding: 10px; font-size: 1.2em; font-weight: bold; }

.tv-episodes { display: flex; gap: 10px; margin-top: 10px; }
.btn-ep.active { background: #e50914; color: white; transform: scale(1.1); }
